body{
    text-align: center;
    background-color: #ffd7e1;
}

.leftside{
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1; /* sure to stay top */
    top: 0; /*sure to stay top*/
    left: 0; /*positioned left*/
    background-color: #aec6cf;
    overflow-x: hidden; 
    padding-top: 20px;
}

.rightside{
    height: 100%; 
    width: 80px;
    position: fixed; 
    z-index: 1; /* sure to stay top */
    top: 0; /* sure to stay top */
    right: 0;
    background-color: #aec6cf;
    overflow-x: hidden;
    padding-top: 20px;
}

.LoginButtons{
  background-color: #ec90a6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 2px 2px #cf8e9d;
}

.LoginButtons:hover{
    background-color: #cc7b8e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 2px 2px #cf8e9d;
}

.modal-text{
    font-family: Arial, Helvetica, sans-serif
}

.desc{
    font-family: Arial, Helvetica, sans-serif;
}

.textContainer{
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid deeppink;
    border-radius: 15px;
    padding: 5px;
    background-image: linear-gradient(lightblue, rgb(211, 141, 211));
    box-shadow: 5px 10px lightpink;
    line-height: 0.5;
}